#header-img {
    width:100px;
}
#header{
    top: 0;
}
#buy-on-amazon{
    backgound-color:#363636;
}
.flex-container {
    display: flex;
    justify-content: center;
    }
    body{
    font-family: sans-serif;
    }
.nav-link{
        padding: 20px;
    }
section {
        padding-bottom: 50px;
        padding-top: 50px;
    }
.flex-container > div {
        background-color:#eeeeee;
        width: 200px;
        /* margin: 300px; */
        text-align: center;
        line-height: 32px;
        font-size: 14px;
    }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 20px;
}
        
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}


